tbody tr:hover th {
  box-shadow: inset 2px 0 0 0 #007ace;
  cursor: pointer;
}

td {
  padding: 0px !important;
}

.noRecords {
  text-align: center;
  margin-top: 20px;
}

.cellElement {
  padding: 1.6rem;
}